.home {
	display: flex;
	flex-direction: column;
	gap
}

.welcome {
	height: calc(100vh - 500px);
}

.plant,
.stone {
	/* border: solid 1px black; */
	height: 500px;
	width: 100%;
	position: relative;
}

.hanger {
	height: 1000px;
	width: 100%;
	position: relative;
}

.plant-img {
	width: 300px;
	position: absolute;
	right: -100px;
	animation: 3s ease 0s normal forwards 1 fadein;
}

.stone-img {
	width: 700px;
	position: absolute;
	left: -100px;
	animation: 3s ease 0s normal forwards 1 fadein;
}
.hanger-img {
	width: 700px;
	position: absolute;
	/* right: 100px; */
	left: -100px;
	animation: 3s ease 0s normal forwards 1 fadein;
}

.hover-effect {
	transition: transform 0.3s ease 0s;
}

.hover-effect:hover {
	transform: translateY(-10px);
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	66% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
