.home-container {
	display: flex;
	margin: 4rem;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
	width: 100vw;
	height: 100vh;
}

.home-picture {
	position: absolute;
	top: 499.27774240899964px;
	left: 443.3170426163868px;
	width: 150px;
	height: 150px;
	border-radius: 50%;

	box-shadow: 1px 2px 10px black;

	transition:
		transform 0.3s ease 0s,
		background-color 0.1s;
}

.home-picture:hover {
	transform: translateY(-10px);
}

@keyframes appear {
	from {
		transform: rotateY("90");
	}
	to {
		transform: rotateY("0");
	}
}
