@font-face {
	font-family: "Rubik-Regular";
	src: url("./fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

html {
	background-attachment: fixed;
	overflow: hidden;
}

body {
	margin: 0;
}

.background-image {
	position: absolute;
	top: 0;
	background-image: linear-gradient(
			to bottom,
			#ffffff00 0%,
			#ffffff38 40%,
			#ffffff79 60%,
			#ffffffa8 70%,
			#ffffffdd 80%,
			#ffffff 90%
		),
		url("../static/_DSF1869.jpg");
	z-index: -1;
	background-size: cover;
	background-position: top center;
	width: 100vw;
	height: 100vh;
	/* background-blend-mode: difference, normal; */
}
