@font-face {
	font-family: "Rubik-Regular";
	src: url("./fonts/rubik/Rubik-Regular.ttf") format("truetype");
}

html {
	background-attachment: fixed;
	overflow: hidden;
}

body {
	margin: 0;
}

.background-container {
	position: absolute;
	width: 110;
	/* height: 100px; */
	background-image: url("../../../static/_DSF1869.jpg");
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: inset 0px 100px black;
	/* background-size: cover; */
	/* filter: blur(5px); */
	scale: 120%;
}
